.availables {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  margin-bottom: 15vh;

  .availables__title {
    font-size: 1.8rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
  }

  .availables__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 5rem;

    li {
      list-style: none;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        border-radius: 50%;
        box-shadow: -2px -2px 2px var(--secondary-color);
      }
    }
  }
}
/* DEVICE: TABLETS */
@media (min-width: 401px) and (max-width: 850px) {
  .availables {
    row-gap: 4rem;
    .availables__title {
      font-size: 1.6rem;
    }

    .availables__images {
      gap: 5vw 15vw;
      padding-inline: 10vw;

      li img {
        width: 10vw;
        height: 10vw;
      }
    }
  }
}

/* DEVICE: MOBILE */
@media (max-width: 400px) {
  .availables {
    row-gap: 2rem;
    margin-bottom: 10vh;

    .availables__title {
      font-size: 1.4rem;
    }

    .availables__images {
      width: 80vw;
      gap: 2rem 10vw;

      li img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
}
