.form {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 2vh;

  .form__input {
    order: -1;
    width: 50vw;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 10px var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.3s;

    &::placeholder {
      color: #e31b4da7;
    }
  }

  .form__button {
    font-weight: 600;
    padding: 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: black;
    font-size: 1.5rem;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--primary-color);
    transition: all 0.3s;

    &:hover {
      background-color: var(--secondary-color);
      box-shadow: 0 0 0 transparent;

      & + input {
        color: var(--primary-color);
        box-shadow: 0 0 0 transparent;
        border: 2px solid var(--secondary-color);

        &::placeholder {
          color: #62d4d674;
          transition: all 0.3s;
        }
      }
    }
  }
}

/* DEVICE: TABLETS */
@media (min-width: 401px) and (max-width: 850px) {
  .form{
    .form__input {
      width: 75vw;
      padding: 20px;
      font-size: 1.6rem;
    }
    .form__button {
      padding: 10px;
      font-size: 1.6rem;
    }
  }
}

/* DEVICE: MOBILE */
@media (max-width: 400px) {
  .form{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
    .form__input {
      width: 80%;
      border-radius: 10px;
      font-size: 1rem;
      padding: 12px;
    }
    .form__button {
      border-radius: 10px;
      padding: calc(15vw/2 - 12px) 30px;
      font-size: 1rem;

      &:hover {
        background-color: var(--secondary-color);
        box-shadow: 0 0 0 transparent;

        & + input {
          color: var(--primary-color);
          box-shadow: 0 0 0 transparent;
          border: 2px solid var(--primary-color);

          &::placeholder {
            color: #e31b4da7;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}