.form {
  margin-top: 13vh;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: float 10s infinite;

  .form__loader {
    order: -1;
    width: 50vw;
    height: 75px;
    background-color: var(--primary-color-dark);
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    /* box-shadow: 1px 1px 10px var(--primary-color); */

    .form__loader-bar {
      width: 100%;
      height: 100%;
      background-color: var(--secondary-color);
      /* animation: filling 2s ease-in-out; */

      &.speedmp3 {
        animation: filling 6s ease-in-out;
      }

      &.speedmp4 {
        animation: filling 2s ease-in-out;
      }
    }
  }

  .form__input {
    order: -1;
    width: 50vw;
    font-size: 1.5rem;
    padding-inline: 20px;
    height: 75px;
    border: 2px solid var(--primary-color);
    border-right-width: 0;
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: transparent;
    box-shadow: 1px 1px 10px var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.3s;

    &::placeholder {
      color: #e31b4da7;
    }
  }

  .form__buttons-container {
    display: flex;
    flex-direction: column;

    &:hover {
      .form__buttons-span {
        background-color: transparent;
        color: var(--secondary-color);
        border-color: var(--secondary-color);
        border-radius: 0 10px 0 0;
        border-bottom: none;
        box-shadow: 0 0 0 transparent;

        .form__down-svg {
          fill: var(--secondary-color);
          transform: rotate(180deg);
        }
      }

      & + .form__input {
        color: var(--secondary-color);
        box-shadow: 0 0 0 transparent;
        border: 2px solid var(--secondary-color);
        border-right: none;

        &::placeholder {
          color: #62d4d674;
          transition: all 0.3s;
        }
      }
      .form__button {
        display: block;
        background-color: var(--secondary-color);
        box-shadow: 0 0 0 transparent;
        border-color: var(--secondary-color);
      }
    }

    .form__buttons-span {
      height: 75px;
      display: flex;
      font-weight: 600;
      padding: 20px 10px;
      text-align: center;
      border: 2px solid var(--primary-color);
      outline: none;
      background-color: var(--primary-color);
      color: black;
      font-size: 1.5rem;
      border-radius: 0 10px 10px 0;
      box-shadow: 1px 1px 10px var(--primary-color);
      transition: all 0.3s;

      .form__down-svg {
        height: 2rem;
        fill: black;
        transition: all 0.3s;
        rotate: 180deg;
      }
    }

    .form__button {
      display: none;
      font-weight: 600;
      padding: 20px;
      border: 2px solid var(--primary-color);
      outline: none;
      background-color: var(--primary-color);
      color: black;
      font-size: 1.5rem;
      cursor: pointer;
      box-shadow: 1px 1px 10px var(--primary-color);
      animation: getBig 0.3s ease-in-out;
      transition: all 0.3s;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background-color: var(--primary-color);
        box-shadow: 0 0 0 transparent;
        border-color: var(--primary-color);
      }
    }
  }
}

@media (min-width: 850.1px) {
  .form {
    .form__loader {
      border-radius: 10px 0 0 10px;
      border-right: none;
      .form__loader-bar {
      }
    }
  }
}

@media (min-width: 401px) and (max-width: 850px) {
  .form {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    row-gap: 20px;

    .form__loader {
      width: 80%;
    }

    .form__input {
      width: 80%;
      border-radius: 10px;
      font-size: 1rem;
      padding: 12px;
      border: 2px solid var(--primary-color);
    }
    .form__buttons-container {
      flex-direction: row;
      column-gap: 10px;
      width: 80%;
      justify-content: space-evenly;

      &:hover {
        & + .form__input {
          color: var(--secondary-color);
          box-shadow: 1px 1px 10px var(--primary-color);
          border: 2px solid var(--primary-color);

          &::placeholder {
            color: #e31b4da7;
            transition: all 0.3s;
          }
        }
        .form__button {
          display: block;
          background-color: var(--primary-color);
          box-shadow: 1px 1px 10px var(--primary-color);
          border-color: var(--primary-color);
        }
      }

      .form__buttons-span {
        display: none;
      }

      .form__button {
        display: block;
        /* width: 80%; */
        border-radius: 10px;
        padding-inline: 15px;
        padding-block: 13px;
        font-size: 1.1rem;

        &:hover {
          background-color: var(--secondary-color);
          box-shadow: 0 0 0 transparent;
          border: 2px solid var(--secondary-color);
        }
        &:last-child {
          order: -1;
          border-radius: 10px;
        }
      }
    }
  }
}

/* DEVICE: MOBILE */
@media (max-width: 400px) {
  .form {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    row-gap: 20px;

    .form__loader {
      width: 80%;
    }

    .form__input {
      width: 80%;
      border-radius: 10px;
      font-size: 1rem;
      padding: 12px;
    }
    .form__buttons-container {
      flex-direction: row;
      column-gap: 10px;
      width: 80%;
      justify-content: space-evenly;

      &:hover {
        & + .form__input {
          color: var(--secondary-color);
          box-shadow: 0 0 0 transparent;
          border: 2px solid var(--secondary-color);

          &::placeholder {
            color: #62d4d674;
            transition: all 0.3s;
          }
        }
      }

      .form__buttons-span {
        display: none;
      }

      .form__button {
        display: block;
        /* width: 80%; */
        border-radius: 10px;
        padding: 12px;
        font-size: 1rem;

        &:hover {
          background-color: var(--secondary-color);
          box-shadow: 0 0 0 transparent;
          border: 2px solid var(--secondary-color);
        }
        &:last-child {
          order: -1;
          border-radius: 10px;
        }
      }
    }
  }
}

@keyframes filling {
  0% {
    width: 0;
  }

  20% {
    width: 30%;
  }

  40% {
    width: 55%;
  }

  60% {
    width: 75%;
  }

  80% {
    width: 85%;
  }

  90% {
    width: 92%;
  }

  95% {
    width: 97%;
  }

  100% {
    width: 100%;
  }
}

@keyframes getBig {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: 100%;
    padding: 20px;
  }
}
